In [1]:
#import packages
import pandas as pd
import pyspark

In [2]:
#import news file
behaviors = pd.read_csv(r"C:\Users\josia\Desktop\Capstone_Project\MINDlarge_train\behaviors.tsv", sep='\t')

In [3]:
#import behaviors file
news = pd.read_csv(r"C:\Users\josia\Desktop\Capstone_Project\MINDlarge_train\news.tsv", sep='\t')

In [4]:
b_df = pd.DataFrame(behaviors)

In [5]:
n_df = pd.DataFrame(news)

# Wrangle the behavior data

In [6]:
b_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232747 entries, 0 to 2232746
Data columns (total 5 columns):
 #   Column                                                                                                                                                                     Dtype
---  ------                                                                                                                                                                     -----
 0   1                                                                                                                                                                          int64
 1   U87243                                                                                                                                                                     object
 2   11/10/2019 11:30:54 AM                                                                                                                                                     object
 3   N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932                                                          object
 4   N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N58258-0 N18478-0 N2591-0 N97778-0 N32954-0 N94157-1 N39404-0 N108809-0 N78699-1 N71090-1 N40282-0 N31174-1 N37924-0 N27822-0  object
dtypes: int64(1), object(4)
memory usage: 85.2+ MB

In [7]:
print(b_df.head())

   1   U87243  11/10/2019 11:30:54 AM  \
0  2  U598644   11/12/2019 1:45:29 PM
1  3  U532401  11/13/2019 11:23:03 AM
2  4  U593596  11/12/2019 12:24:09 PM
3  5  U239687   11/14/2019 8:03:01 PM
4  6  U521853  11/11/2019 10:47:31 AM

  N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932  \
0  N56056 N8726 N70353 N67998 N83823 N111108 N107...
1  N128643 N87446 N122948 N9375 N82348 N129412 N5...
2  N31043 N39592 N4104 N8223 N114581 N92747 N1207...
3  N65250 N122359 N71723 N53796 N41663 N41484 N11...
4  N8668 N29136 N128643 N9740 N9375 N52911 N12090...

  N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N58258-0 N18478-0 N2591-0 N97778-0 N32954-0 N94157-1 N39404-0 N108809-0 N78699-1 N71090-1 N40282-0 N31174-1 N37924-0 N27822-0
0  N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1              N103852-0 N53474-0 N127836-0 N47925-1
2  N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3  N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                N32154-0 N67747-0 N47257-0 N98178-1

In [8]:
b_column_names = ['Impression_ID', 'User_ID', 'Time', 'History', 'Impressions']
b_df.columns = b_column_names

In [9]:
print(b_df.head())

   Impression_ID  User_ID                    Time  \
0              2  U598644   11/12/2019 1:45:29 PM
1              3  U532401  11/13/2019 11:23:03 AM
2              4  U593596  11/12/2019 12:24:09 PM
3              5  U239687   11/14/2019 8:03:01 PM
4              6  U521853  11/11/2019 10:47:31 AM

                                             History  \
0  N56056 N8726 N70353 N67998 N83823 N111108 N107...
1  N128643 N87446 N122948 N9375 N82348 N129412 N5...
2  N31043 N39592 N4104 N8223 N114581 N92747 N1207...
3  N65250 N122359 N71723 N53796 N41663 N41484 N11...
4  N8668 N29136 N128643 N9740 N9375 N52911 N12090...

                                         Impressions
0  N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1              N103852-0 N53474-0 N127836-0 N47925-1
2  N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3  N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                N32154-0 N67747-0 N47257-0 N98178-1

In [10]:
print(b_df['Impressions'].head())

0    N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1                N103852-0 N53474-0 N127836-0 N47925-1
2    N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3    N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                  N32154-0 N67747-0 N47257-0 N98178-1
Name: Impressions, dtype: object

# Wrangle the news data

In [11]:
n_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101526 entries, 0 to 101525
Data columns (total 8 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  --------------   -----
 0   N88753                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  101526 non-null  object
 1   lifestyle                                                                                                                                                                                                                                                                                                                                                                                                                                                                               101526 non-null  object
 2   lifestyleroyals                                                                                                                                                                                                                                                                                                                                                                                                                                                                         101526 non-null  object
 3   The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By                                                                                                                                                                                                                                                                                                                                                                                                                  101526 non-null  object
 4   Shop the notebooks, jackets, and more that the royals can't live without.                                                                                                                                                                                                                                                                                                                                                                                                               96111 non-null   object
 5   https://assets.msn.com/labs/mind/AAGH0ET.html                                                                                                                                                                                                                                                                                                                                                                                                                                           101526 non-null  object
 6   [{"Label": "Prince Philip, Duke of Edinburgh", "Type": "P", "WikidataId": "Q80976", "Confidence": 1.0, "OccurrenceOffsets": [48], "SurfaceForms": ["Prince Philip"]}, {"Label": "Charles, Prince of Wales", "Type": "P", "WikidataId": "Q43274", "Confidence": 1.0, "OccurrenceOffsets": [28], "SurfaceForms": ["Prince Charles"]}, {"Label": "Elizabeth II", "Type": "P", "WikidataId": "Q9682", "Confidence": 0.97, "OccurrenceOffsets": [11], "SurfaceForms": ["Queen Elizabeth"]}]  101523 non-null  object
 7   []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      101520 non-null  object
dtypes: object(8)
memory usage: 6.2+ MB

In [12]:
print(n_df.head())

   N88753 lifestyle           lifestyleroyals  \
0  N45436      news  newsscienceandtechnology
1  N23144    health                weightloss
2  N86255    health                   medical
3  N93187      news                 newsworld
4  N75236    health                    voices

  The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By  \
0    Walmart Slashes Prices on Last-Generation iPads
1                      50 Worst Habits For Belly Fat
2  Dispose of unwanted prescription drugs during ...
3  The Cost of Trump's Aid Freeze in the Trenches...
4  I Was An NBA Wife. Here's How It Affected My M...

  Shop the notebooks, jackets, and more that the royals can't live without.  \
0  Apple's new iPad releases bring big deals on l...
1  These seemingly harmless habits are holding yo...
2                                                NaN
3  Lt. Ivan Molchanets peeked over a parapet of s...
4  I felt like I was a fraud, and being an NBA wi...

   https://assets.msn.com/labs/mind/AAGH0ET.html  \
0  https://assets.msn.com/labs/mind/AABmf2I.html
1  https://assets.msn.com/labs/mind/AAB19MK.html
2  https://assets.msn.com/labs/mind/AAISxPN.html
3  https://assets.msn.com/labs/mind/AAJgNsz.html
4  https://assets.msn.com/labs/mind/AACk2N6.html

  [{"Label": "Prince Philip, Duke of Edinburgh", "Type": "P", "WikidataId": "Q80976", "Confidence": 1.0, "OccurrenceOffsets": [48], "SurfaceForms": ["Prince Philip"]}, {"Label": "Charles, Prince of Wales", "Type": "P", "WikidataId": "Q43274", "Confidence": 1.0, "OccurrenceOffsets": [28], "SurfaceForms": ["Prince Charles"]}, {"Label": "Elizabeth II", "Type": "P", "WikidataId": "Q9682", "Confidence": 0.97, "OccurrenceOffsets": [11], "SurfaceForms": ["Queen Elizabeth"]}]  \
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  [{"Label": "Drug Enforcement Administration", ...
3                                                 []
4                                                 []

                                                  []
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2                                                 []
3  [{"Label": "Ukraine", "Type": "G", "WikidataId...
4  [{"Label": "National Basketball Association", ...

In [13]:
n_column_names = ['News_ID', 'Category', 'Subcategory', 'Title', 'Abstract', 'URL', 'Title_Entities', 'Abstract_Entities']
n_df.columns = n_column_names

In [14]:
print(n_df.head())

  News_ID Category               Subcategory  \
0  N45436     news  newsscienceandtechnology
1  N23144   health                weightloss
2  N86255   health                   medical
3  N93187     news                 newsworld
4  N75236   health                    voices

                                               Title  \
0    Walmart Slashes Prices on Last-Generation iPads
1                      50 Worst Habits For Belly Fat
2  Dispose of unwanted prescription drugs during ...
3  The Cost of Trump's Aid Freeze in the Trenches...
4  I Was An NBA Wife. Here's How It Affected My M...

                                            Abstract  \
0  Apple's new iPad releases bring big deals on l...
1  These seemingly harmless habits are holding yo...
2                                                NaN
3  Lt. Ivan Molchanets peeked over a parapet of s...
4  I felt like I was a fraud, and being an NBA wi...

                                             URL  \
0  https://assets.msn.com/labs/mind/AABmf2I.html
1  https://assets.msn.com/labs/mind/AAB19MK.html
2  https://assets.msn.com/labs/mind/AAISxPN.html
3  https://assets.msn.com/labs/mind/AAJgNsz.html
4  https://assets.msn.com/labs/mind/AACk2N6.html

                                      Title_Entities  \
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  [{"Label": "Drug Enforcement Administration", ...
3                                                 []
4                                                 []

                                   Abstract_Entities
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2                                                 []
3  [{"Label": "Ukraine", "Type": "G", "WikidataId...
4  [{"Label": "National Basketball Association", ...

# A look at the data

Behavior Data: 

Impression ID = The ID of an impression.
User ID = The anonymous ID of a user.
Time = The impression time with format “MM/DD/YYYY HH:MM:SS AM/PM”.
History = The news click history (ID list of clicked news) of this user before this impression.
Impressions = List of news displayed in this impression and user’s click behaviors on them (1 for click and 0 for non-click).

COLUMN	CONTENT
Impression ID:	123
User ID:	U131
Time:	11/13/2019 8:36:57 AM
History:	N11 N21 N103
Impressions:	N4-1 N34-1 N156-0 N207-0 N198-0


______________________________________________________________________________



News Data:

News ID = ID of news article
Category = Category of article
Subcategory = Subcategory of article
Title = Title of article
Abstract = Abstract of article
URL = URL of article
Title Entities = Entities contained in the title of this news
Abstract Entities = Entities contained in the abstract of this news

COLUMN CONTENT
News ID	N37378
Category	sports
SubCategory	golf
Title	PGA Tour winners
Abstract	A gallery of recent winners on the PGA Tour.
URL	https://www.msn.com/en-us/sports/golf/pga-tour-winners/ss-AAjnQjj?ocid=chopendata
Title Entities [{“Label”: “PGA Tour”, “Type”: “O”, “WikidataId”: “Q910409”, “Confidence”: 1.0, “OccurrenceOffsets”: [0], “SurfaceForms”: [“PGA Tour”]}]
Abstract Entites [{“Label”: “PGA Tour”, “Type”: “O”, “WikidataId”: “Q910409”, “Confidence”: 1.0, “OccurrenceOffsets”: [35], “SurfaceForms”: [“PGA Tour”]}]

______________________________________________________________________________

What Data do I need?

User-Item matrix:
    Users = User_ID (from b_df)
    Items = News_ID (from n_df)
    
Potential User-Item Interaction Data
    Binary Interactions
        - Impressions
        - History
        - Impression ID
        - Time
        
What Data do I not need?

- URL
- Title Entries
- Abstract