# Import Packages & Create Dataframes

In [1]:
#import packages
import pandas as pd
import pyspark

In [2]:
#import news file
behaviors = pd.read_csv(r"C:\Users\josia\Desktop\Capstone_Project\MINDlarge_train\behaviors.tsv", sep='\t')

In [3]:
#import behaviors file
news = pd.read_csv(r"C:\Users\josia\Desktop\Capstone_Project\MINDlarge_train\news.tsv", sep='\t')

In [4]:
#convert behavior data to datafram
b_df = pd.DataFrame(behaviors)

In [5]:
#convert news data to dataframe
n_df = pd.DataFrame(news)

# Wrangle the behavior data

In [6]:
b_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232747 entries, 0 to 2232746
Data columns (total 5 columns):
 #   Column                                                                                                                                                                     Dtype
---  ------                                                                                                                                                                     -----
 0   1                                                                                                                                                                          int64
 1   U87243                                                                                                                                                                     object
 2   11/10/2019 11:30:54 AM                                                                                                                                                     object
 3   N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932                                                          object
 4   N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N58258-0 N18478-0 N2591-0 N97778-0 N32954-0 N94157-1 N39404-0 N108809-0 N78699-1 N71090-1 N40282-0 N31174-1 N37924-0 N27822-0  object
dtypes: int64(1), object(4)
memory usage: 85.2+ MB

In [7]:
print(b_df.head())

   1   U87243  11/10/2019 11:30:54 AM  \
0  2  U598644   11/12/2019 1:45:29 PM
1  3  U532401  11/13/2019 11:23:03 AM
2  4  U593596  11/12/2019 12:24:09 PM
3  5  U239687   11/14/2019 8:03:01 PM
4  6  U521853  11/11/2019 10:47:31 AM

  N8668 N39081 N65259 N79529 N73408 N43615 N29379 N32031 N110232 N101921 N12614 N129591 N105760 N60457 N1229 N64932  \
0  N56056 N8726 N70353 N67998 N83823 N111108 N107...
1  N128643 N87446 N122948 N9375 N82348 N129412 N5...
2  N31043 N39592 N4104 N8223 N114581 N92747 N1207...
3  N65250 N122359 N71723 N53796 N41663 N41484 N11...
4  N8668 N29136 N128643 N9740 N9375 N52911 N12090...

  N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N58258-0 N18478-0 N2591-0 N97778-0 N32954-0 N94157-1 N39404-0 N108809-0 N78699-1 N71090-1 N40282-0 N31174-1 N37924-0 N27822-0
0  N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1              N103852-0 N53474-0 N127836-0 N47925-1
2  N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3  N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                N32154-0 N67747-0 N47257-0 N98178-1

In [8]:
#Create column names based on dataset legend found elsewhere
b_column_names = ['Impression_ID', 'User_ID', 'Time', 'History', 'Impressions']
b_df.columns = b_column_names

In [9]:
print(b_df.head())

   Impression_ID  User_ID                    Time  \
0              2  U598644   11/12/2019 1:45:29 PM
1              3  U532401  11/13/2019 11:23:03 AM
2              4  U593596  11/12/2019 12:24:09 PM
3              5  U239687   11/14/2019 8:03:01 PM
4              6  U521853  11/11/2019 10:47:31 AM

                                             History  \
0  N56056 N8726 N70353 N67998 N83823 N111108 N107...
1  N128643 N87446 N122948 N9375 N82348 N129412 N5...
2  N31043 N39592 N4104 N8223 N114581 N92747 N1207...
3  N65250 N122359 N71723 N53796 N41663 N41484 N11...
4  N8668 N29136 N128643 N9740 N9375 N52911 N12090...

                                         Impressions
0  N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1              N103852-0 N53474-0 N127836-0 N47925-1
2  N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3  N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                N32154-0 N67747-0 N47257-0 N98178-1

In [10]:
print(b_df['Impressions'].head())

0    N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
1                N103852-0 N53474-0 N127836-0 N47925-1
2    N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
3    N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...
4                  N32154-0 N67747-0 N47257-0 N98178-1
Name: Impressions, dtype: object

# Wrangle the news data

In [11]:
n_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101526 entries, 0 to 101525
Data columns (total 8 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  --------------   -----
 0   N88753                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  101526 non-null  object
 1   lifestyle                                                                                                                                                                                                                                                                                                                                                                                                                                                                               101526 non-null  object
 2   lifestyleroyals                                                                                                                                                                                                                                                                                                                                                                                                                                                                         101526 non-null  object
 3   The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By                                                                                                                                                                                                                                                                                                                                                                                                                  101526 non-null  object
 4   Shop the notebooks, jackets, and more that the royals can't live without.                                                                                                                                                                                                                                                                                                                                                                                                               96111 non-null   object
 5   https://assets.msn.com/labs/mind/AAGH0ET.html                                                                                                                                                                                                                                                                                                                                                                                                                                           101526 non-null  object
 6   [{"Label": "Prince Philip, Duke of Edinburgh", "Type": "P", "WikidataId": "Q80976", "Confidence": 1.0, "OccurrenceOffsets": [48], "SurfaceForms": ["Prince Philip"]}, {"Label": "Charles, Prince of Wales", "Type": "P", "WikidataId": "Q43274", "Confidence": 1.0, "OccurrenceOffsets": [28], "SurfaceForms": ["Prince Charles"]}, {"Label": "Elizabeth II", "Type": "P", "WikidataId": "Q9682", "Confidence": 0.97, "OccurrenceOffsets": [11], "SurfaceForms": ["Queen Elizabeth"]}]  101523 non-null  object
 7   []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      101520 non-null  object
dtypes: object(8)
memory usage: 6.2+ MB

In [12]:
print(n_df.head())

   N88753 lifestyle           lifestyleroyals  \
0  N45436      news  newsscienceandtechnology
1  N23144    health                weightloss
2  N86255    health                   medical
3  N93187      news                 newsworld
4  N75236    health                    voices

  The Brands Queen Elizabeth, Prince Charles, and Prince Philip Swear By  \
0    Walmart Slashes Prices on Last-Generation iPads
1                      50 Worst Habits For Belly Fat
2  Dispose of unwanted prescription drugs during ...
3  The Cost of Trump's Aid Freeze in the Trenches...
4  I Was An NBA Wife. Here's How It Affected My M...

  Shop the notebooks, jackets, and more that the royals can't live without.  \
0  Apple's new iPad releases bring big deals on l...
1  These seemingly harmless habits are holding yo...
2                                                NaN
3  Lt. Ivan Molchanets peeked over a parapet of s...
4  I felt like I was a fraud, and being an NBA wi...

   https://assets.msn.com/labs/mind/AAGH0ET.html  \
0  https://assets.msn.com/labs/mind/AABmf2I.html
1  https://assets.msn.com/labs/mind/AAB19MK.html
2  https://assets.msn.com/labs/mind/AAISxPN.html
3  https://assets.msn.com/labs/mind/AAJgNsz.html
4  https://assets.msn.com/labs/mind/AACk2N6.html

  [{"Label": "Prince Philip, Duke of Edinburgh", "Type": "P", "WikidataId": "Q80976", "Confidence": 1.0, "OccurrenceOffsets": [48], "SurfaceForms": ["Prince Philip"]}, {"Label": "Charles, Prince of Wales", "Type": "P", "WikidataId": "Q43274", "Confidence": 1.0, "OccurrenceOffsets": [28], "SurfaceForms": ["Prince Charles"]}, {"Label": "Elizabeth II", "Type": "P", "WikidataId": "Q9682", "Confidence": 0.97, "OccurrenceOffsets": [11], "SurfaceForms": ["Queen Elizabeth"]}]  \
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  [{"Label": "Drug Enforcement Administration", ...
3                                                 []
4                                                 []

                                                  []
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2                                                 []
3  [{"Label": "Ukraine", "Type": "G", "WikidataId...
4  [{"Label": "National Basketball Association", ...

In [13]:
#Create column names based on dataset legend found elsewhere
n_column_names = ['News_ID', 'Category', 'Subcategory', 'Title', 'Abstract', 'URL', 'Title_Entities', 'Abstract_Entities']
n_df.columns = n_column_names

In [14]:
print(n_df.head())

  News_ID Category               Subcategory  \
0  N45436     news  newsscienceandtechnology
1  N23144   health                weightloss
2  N86255   health                   medical
3  N93187     news                 newsworld
4  N75236   health                    voices

                                               Title  \
0    Walmart Slashes Prices on Last-Generation iPads
1                      50 Worst Habits For Belly Fat
2  Dispose of unwanted prescription drugs during ...
3  The Cost of Trump's Aid Freeze in the Trenches...
4  I Was An NBA Wife. Here's How It Affected My M...

                                            Abstract  \
0  Apple's new iPad releases bring big deals on l...
1  These seemingly harmless habits are holding yo...
2                                                NaN
3  Lt. Ivan Molchanets peeked over a parapet of s...
4  I felt like I was a fraud, and being an NBA wi...

                                             URL  \
0  https://assets.msn.com/labs/mind/AABmf2I.html
1  https://assets.msn.com/labs/mind/AAB19MK.html
2  https://assets.msn.com/labs/mind/AAISxPN.html
3  https://assets.msn.com/labs/mind/AAJgNsz.html
4  https://assets.msn.com/labs/mind/AACk2N6.html

                                      Title_Entities  \
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  [{"Label": "Drug Enforcement Administration", ...
3                                                 []
4                                                 []

                                   Abstract_Entities
0  [{"Label": "IPad", "Type": "J", "WikidataId": ...
1  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2                                                 []
3  [{"Label": "Ukraine", "Type": "G", "WikidataId...
4  [{"Label": "National Basketball Association", ...

# A look at the data

Behavior Data: 

Impression ID = The ID of an impression.
User ID = The anonymous ID of a user.
Time = The impression time with format “MM/DD/YYYY HH:MM:SS AM/PM”.
History = The news click history (ID list of clicked news) of this user before this impression.
Impressions = List of news displayed in this impression and user’s click behaviors on them (1 for click and 0 for non-click).

COLUMN	CONTENT
Impression ID:	123
User ID:	U131
Time:	11/13/2019 8:36:57 AM
History:	N11 N21 N103
Impressions:	N4-1 N34-1 N156-0 N207-0 N198-0


______________________________________________________________________________



News Data:

News ID = ID of news article
Category = Category of article
Subcategory = Subcategory of article
Title = Title of article
Abstract = Abstract of article
URL = URL of article
Title Entities = Entities contained in the title of this news
Abstract Entities = Entities contained in the abstract of this news

COLUMN CONTENT
News ID	N37378
Category	sports
SubCategory	golf
Title	PGA Tour winners
Abstract	A gallery of recent winners on the PGA Tour.
URL	https://www.msn.com/en-us/sports/golf/pga-tour-winners/ss-AAjnQjj?ocid=chopendata
Title Entities [{“Label”: “PGA Tour”, “Type”: “O”, “WikidataId”: “Q910409”, “Confidence”: 1.0, “OccurrenceOffsets”: [0], “SurfaceForms”: [“PGA Tour”]}]
Abstract Entites [{“Label”: “PGA Tour”, “Type”: “O”, “WikidataId”: “Q910409”, “Confidence”: 1.0, “OccurrenceOffsets”: [35], “SurfaceForms”: [“PGA Tour”]}]

______________________________________________________________________________

What Data do I need?

User-Item matrix:
    Users = User_ID (from b_df)
    Items = News_ID (from n_df)
    
Potential User-Item Interaction Data
    Binary Interactions
        - Impressions
        - History
        - Impression ID
        - Time
        
What Data do I not need for my user-item matrix?

- URL
- Title Entries
- Abstract
- ????

# Drop Columns from News Data

In [15]:
news_columns_to_drop = ['Category', 'Subcategory', 'Title', 'Abstract', 'URL', 'Title_Entities', 'Abstract_Entities']

n_df_matrix = n_df.drop(news_columns_to_drop, axis =1)

In [16]:
print(n_df_matrix.columns)

Index(['News_ID'], dtype='object')

In [17]:
#check for missing values
missing_counts_n = n_df_matrix.isnull().sum()
print(missing_counts_n)

News_ID    0
dtype: int64

In [18]:
#check for duplicate values
duplicated_values_n = n_df_matrix.duplicated().sum()
print(duplicated_values_n)

0

In [19]:
#quick look at sorted data
print(n_df_matrix.sort_values(by = 'News_ID'))

       News_ID
6727        N1
72351     N100
48336    N1000
3156    N10000
81015  N100000
...        ...
48825   N99993
36398   N99995
68559   N99996
37448   N99998
82537   N99999

[101526 rows x 1 columns]

The Item-based component of the matrix is cleaned and ready to go

# Wrangle the Behavior data 2.0

In [20]:
#Group data by User ID
b_df_g = b_df.sort_values(by = 'User_ID')

In [21]:
#Check for missing values
b_df_g_missing = b_df_g.isnull().sum()
print(b_df_g_missing)

Impression_ID        0
User_ID              0
Time                 0
History          46065
Impressions          0
dtype: int64

In [22]:
#Examine type of missing value
b_df_g_hist_miss = b_df_g['History'].isnull()

In [23]:
print(b_df_g_hist_miss)

473091     False
920616     False
461067     False
1797300    False
1429215    False
           ...
2029812    False
439824     False
109774     False
644239     False
582674     False
Name: History, Length: 2232747, dtype: bool

In [24]:
#Drop all rows with missing value
b_df_g_drop = b_df_g.dropna()
print(b_df_g_drop.isnull().sum())

Impression_ID    0
User_ID          0
Time             0
History          0
Impressions      0
dtype: int64

In [25]:
#Check to see how many remaining rows with data there are
print(b_df_g_drop.shape[0])

2186682

In [26]:
#Drop 'Impression_ID' and 'Time' columns as they do not pertain to my use case
columns_to_drop = ['Impression_ID', 'Time']
b_df_g_c_drop = b_df_g_drop.drop(columns = columns_to_drop)
print(b_df_g_c_drop)

        User_ID                                            History  \
473091       U0  N39011 N112324 N78884 N111503 N63941 N68426 N1...
920616       U0  N39011 N112324 N78884 N111503 N63941 N68426 N1...
461067       U1  N14639 N27258 N63237 N112729 N42180 N109816 N7...
1797300      U1  N14639 N27258 N63237 N112729 N42180 N109816 N7...
1429215      U1  N14639 N27258 N63237 N112729 N42180 N109816 N7...
...         ...                                                ...
2029812  U99998  N11631 N56746 N91597 N99305 N2099 N42718 N8002...
439824   U99998  N11631 N56746 N91597 N99305 N2099 N42718 N8002...
109774   U99998  N11631 N56746 N91597 N99305 N2099 N42718 N8002...
644239   U99998  N11631 N56746 N91597 N99305 N2099 N42718 N8002...
582674   U99999                        N85484 N34094 N17892 N12027

                                               Impressions
473091   N73137-0 N53751-0 N6865-0 N122343-0 N116601-0 ...
920616   N110603-0 N109852-0 N123028-0 N46380-0 N117695...
461067   N118471-0 N87913-0 N78847-0 N43955-0 N99507-0 ...
1797300  N121052-0 N89932-0 N75494-0 N84591-0 N39259-0 ...
1429215  N87913-0 N84706-0 N60988-0 N71626-1 N37544-0 N...
...                                                    ...
2029812  N18947-0 N12437-0 N62203-0 N38304-0 N8719-0 N1...
439824   N100073-0 N38902-0 N61850-0 N18539-0 N27097-0 ...
109774   N88472-0 N91716-0 N48263-0 N89409-0 N72609-0 N...
644239   N20889-0 N88472-0 N41315-1 N23031-0 N76677-0 N...
582674   N112227-0 N80994-0 N29928-0 N13279-0 N129969-0...

[2186682 rows x 3 columns]

In [27]:
#rename data frame
b_df = b_df_g_c_drop

In [28]:
b_df.dtypes

User_ID        object
History        object
Impressions    object
dtype: object

In [29]:
#group data by User_ID
grouped_df = b_df.groupby('User_ID').agg({
    'History': lambda x: ','.join(x),  # Combine all 'History' values into one string
    'Impressions': lambda x: ','.join(x)  # Combine all 'Impressions' values into one string
}).reset_index()

# Step 2: Remove duplicates within each combined string
grouped_df['History'] = grouped_df['History'].apply(lambda x: ','.join(set(x.split(','))))
grouped_df['Impressions'] = grouped_df['Impressions'].apply(lambda x: ','.join(set(x.split(','))))

print(grouped_df)

       User_ID                                            History  \
0           U0  N39011 N112324 N78884 N111503 N63941 N68426 N1...
1           U1  N14639 N27258 N63237 N112729 N42180 N109816 N7...
2          U10                             N85722 N111503 N104737
3         U100  N99587 N61339 N129790 N12721 N100405 N103530 N...
4        U1000  N33446 N20131 N65823 N65823 N111503 N3992 N104...
...        ...                                                ...
698360  U99995  N71340 N85428 N112324 N72044 N9690 N79909 N232...
698361  U99996  N113476 N54005 N129955 N14121 N73408 N127336 N...
698362  U99997        N108284 N117102 N57945 N24344 N16097 N54360
698363  U99998  N11631 N56746 N91597 N99305 N2099 N42718 N8002...
698364  U99999                        N85484 N34094 N17892 N12027

                                              Impressions
0       N110603-0 N109852-0 N123028-0 N46380-0 N117695...
1       N84235-0 N17464-0 N89932-1 N45124-0 N109344-0 ...
2       N70923-0 N36861-0 N74360-0 N98178-0 N116694-0 ...
3       N122819-0 N109642-0 N33078-0 N23011-0 N114135-...
4                                      N47925-1 N127836-0
...                                                   ...
698360  N118623-1 N5496-0,N125642-0 N32154-0 N3664-0 N...
698361  N110925-0 N29544-0 N105407-0 N25751-0 N48015-0...
698362  N47711-0 N129240-0 N4300-0 N91390-0 N27862-0 N...
698363  N88472-0 N91716-0 N48263-0 N89409-0 N72609-0 N...
698364  N112227-0 N80994-0 N29928-0 N13279-0 N129969-0...

[698365 rows x 3 columns]

In [30]:
grouped_df.dtypes

User_ID        object
History        object
Impressions    object
dtype: object

In [31]:
# Function to add "-1" to each ID and join back with spaces
def add_suffix_to_ids(ids_string):
    ids_list = ids_string.split()  # Split the string of IDs into a list
    ids_list_with_suffix = [id + '-1' for id in ids_list]  # Add "-1" to each ID
    return ' '.join(ids_list_with_suffix)  # Join the modified IDs back with spaces

# Apply the function to the 'History' column
grouped_df['History'] = grouped_df['History'].apply(add_suffix_to_ids)

# Display the updated DataFrame
print(grouped_df)

       User_ID                                            History  \
0           U0  N39011-1 N112324-1 N78884-1 N111503-1 N63941-1...
1           U1  N14639-1 N27258-1 N63237-1 N112729-1 N42180-1 ...
2          U10                       N85722-1 N111503-1 N104737-1
3         U100  N99587-1 N61339-1 N129790-1 N12721-1 N100405-1...
4        U1000  N33446-1 N20131-1 N65823-1 N65823-1 N111503-1 ...
...        ...                                                ...
698360  U99995  N71340-1 N85428-1 N112324-1 N72044-1 N9690-1 N...
698361  U99996  N113476-1 N54005-1 N129955-1 N14121-1 N73408-1...
698362  U99997  N108284-1 N117102-1 N57945-1 N24344-1 N16097-1...
698363  U99998  N11631-1 N56746-1 N91597-1 N99305-1 N2099-1 N4...
698364  U99999                N85484-1 N34094-1 N17892-1 N12027-1

                                              Impressions
0       N110603-0 N109852-0 N123028-0 N46380-0 N117695...
1       N84235-0 N17464-0 N89932-1 N45124-0 N109344-0 ...
2       N70923-0 N36861-0 N74360-0 N98178-0 N116694-0 ...
3       N122819-0 N109642-0 N33078-0 N23011-0 N114135-...
4                                      N47925-1 N127836-0
...                                                   ...
698360  N118623-1 N5496-0,N125642-0 N32154-0 N3664-0 N...
698361  N110925-0 N29544-0 N105407-0 N25751-0 N48015-0...
698362  N47711-0 N129240-0 N4300-0 N91390-0 N27862-0 N...
698363  N88472-0 N91716-0 N48263-0 N89409-0 N72609-0 N...
698364  N112227-0 N80994-0 N29928-0 N13279-0 N129969-0...

[698365 rows x 3 columns]

In [32]:
#combine the history and impressions columns together
def combine_history_impressions(row):
    history_list = row['History'].split()  # Split 'History' string into a list of IDs
    impressions_list = row['Impressions'].split()  # Split 'Impressions' string into a list of IDs
    combined_list = list(set(history_list + impressions_list))  # Combine and remove duplicates
    combined_string = ' '.join(combined_list)  # Join the combined list back into a string
    return combined_string

# Apply the function to create a new 'Combined' column
grouped_df['Combined'] = grouped_df.apply(combine_history_impressions, axis=1)

# Display the updated DataFrame
print(grouped_df)

       User_ID                                            History  \
0           U0  N39011-1 N112324-1 N78884-1 N111503-1 N63941-1...
1           U1  N14639-1 N27258-1 N63237-1 N112729-1 N42180-1 ...
2          U10                       N85722-1 N111503-1 N104737-1
3         U100  N99587-1 N61339-1 N129790-1 N12721-1 N100405-1...
4        U1000  N33446-1 N20131-1 N65823-1 N65823-1 N111503-1 ...
...        ...                                                ...
698360  U99995  N71340-1 N85428-1 N112324-1 N72044-1 N9690-1 N...
698361  U99996  N113476-1 N54005-1 N129955-1 N14121-1 N73408-1...
698362  U99997  N108284-1 N117102-1 N57945-1 N24344-1 N16097-1...
698363  U99998  N11631-1 N56746-1 N91597-1 N99305-1 N2099-1 N4...
698364  U99999                N85484-1 N34094-1 N17892-1 N12027-1

                                              Impressions  \
0       N110603-0 N109852-0 N123028-0 N46380-0 N117695...
1       N84235-0 N17464-0 N89932-1 N45124-0 N109344-0 ...
2       N70923-0 N36861-0 N74360-0 N98178-0 N116694-0 ...
3       N122819-0 N109642-0 N33078-0 N23011-0 N114135-...
4                                      N47925-1 N127836-0
...                                                   ...
698360  N118623-1 N5496-0,N125642-0 N32154-0 N3664-0 N...
698361  N110925-0 N29544-0 N105407-0 N25751-0 N48015-0...
698362  N47711-0 N129240-0 N4300-0 N91390-0 N27862-0 N...
698363  N88472-0 N91716-0 N48263-0 N89409-0 N72609-0 N...
698364  N112227-0 N80994-0 N29928-0 N13279-0 N129969-0...

                                                 Combined
0       N127593-0 N27723-0 N43955-0 N2598-0 N119419-0 ...
1       N79751-1 N19337-0 N12191-0 N87913-0,N66244-0 N...
2       N98178-0 N36861-0 N116694-0 N85722-1 N70923-0 ...
3       N7617-1 N129790-1 N38902-0 N23011-0 N72919-0,N...
4       N47925-1 N111503-1 N33446-1 N127836-0 N3992-1 ...
...                                                   ...
698360  N72976-1 N83412-0 N113126-0 N23264-1 N43085-0 ...
698361  N87788-1 N76665-1 N13117-1 N14121-1 N127336-1 ...
698362  N95525-0 N116118-0 N47711-0 N8536-0 N73756-0 N...
698363  N65542-0 N67398-0 N100417-0 N96859-0 N1444-0 N...
698364  N95525-0 N85484-1 N12027-1 N10252-0 N17475-0 N...

[698365 rows x 4 columns]

In [33]:
#drop impressions and history columns
column_list = ['Impressions', 'History']
grouped_df.drop(columns = column_list, inplace=True)

In [34]:
print(grouped_df)

       User_ID                                           Combined
0           U0  N127593-0 N27723-0 N43955-0 N2598-0 N119419-0 ...
1           U1  N79751-1 N19337-0 N12191-0 N87913-0,N66244-0 N...
2          U10  N98178-0 N36861-0 N116694-0 N85722-1 N70923-0 ...
3         U100  N7617-1 N129790-1 N38902-0 N23011-0 N72919-0,N...
4        U1000  N47925-1 N111503-1 N33446-1 N127836-0 N3992-1 ...
...        ...                                                ...
698360  U99995  N72976-1 N83412-0 N113126-0 N23264-1 N43085-0 ...
698361  U99996  N87788-1 N76665-1 N13117-1 N14121-1 N127336-1 ...
698362  U99997  N95525-0 N116118-0 N47711-0 N8536-0 N73756-0 N...
698363  U99998  N65542-0 N67398-0 N100417-0 N96859-0 N1444-0 N...
698364  U99999  N95525-0 N85484-1 N12027-1 N10252-0 N17475-0 N...

[698365 rows x 2 columns]

In [35]:
#renamed combined column
grouped_df.rename(columns={'Combined': 'Impressions'}, inplace=True)
print(grouped_df)

       User_ID                                        Impressions
0           U0  N127593-0 N27723-0 N43955-0 N2598-0 N119419-0 ...
1           U1  N79751-1 N19337-0 N12191-0 N87913-0,N66244-0 N...
2          U10  N98178-0 N36861-0 N116694-0 N85722-1 N70923-0 ...
3         U100  N7617-1 N129790-1 N38902-0 N23011-0 N72919-0,N...
4        U1000  N47925-1 N111503-1 N33446-1 N127836-0 N3992-1 ...
...        ...                                                ...
698360  U99995  N72976-1 N83412-0 N113126-0 N23264-1 N43085-0 ...
698361  U99996  N87788-1 N76665-1 N13117-1 N14121-1 N127336-1 ...
698362  U99997  N95525-0 N116118-0 N47711-0 N8536-0 N73756-0 N...
698363  U99998  N65542-0 N67398-0 N100417-0 N96859-0 N1444-0 N...
698364  U99999  N95525-0 N85484-1 N12027-1 N10252-0 N17475-0 N...

[698365 rows x 2 columns]

In [36]:
#rename df back to b_df
b_df = grouped_df

In [37]:
#Check for missing values
b_df.isnull().sum()

User_ID        0
Impressions    0
dtype: int64

In [39]:
#Check for duplicates
b_df.duplicated().sum()

0

# What we have so far

Gathered Data:

User-Item matrix:
    Users = User_ID (from b_df)
    Items = News_ID (from n_df)
    
User-Item Interaction Data
    Click (-1) or No Click (-0) = Impressions (from b_df)
        
Next steps: determine how to match News_ID with Impressions and User_ID to create a user-item matrix